h1{
    align-items: center;
    background-color: peru;
    padding-left: 38%;
}
ul img{
    height: 200px;
    align-items: center;
    margin-left: 5%;
    padding-left: 55px;
}
h2{
    align-items: center;
    padding-left: 38%;
}